@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body {
    background: #444;
    color: #F3f3f3;
    background-size: cover;
    background-position: center
}